RewriteEngine On

#404
RewriteCond %{THE_REQUEST} \s/404\.php\s [NC]
RewriteRule ^ /404/? [R=301,L]
RewriteRule ^404/$ /404.php [L]

#services
RewriteRule ^iso-service/([0-9]+)/(.*)/$ iso_service.php?id=$1&url=$2 [L]
RewriteRule ^iso-service/([0-9]+)/(.*)$ /iso-service/$1/$2/ [L]

#Article
RewriteRule ^articles/([0-9]+)/(.*)/$ article.php?id=$1&url=$2 [L]
RewriteRule ^articles/([0-9]+)/(.*)$ /articles/$1/$2/ [L]

#About Us
RewriteCond %{THE_REQUEST} \s/about\.php\s [NC]
RewriteRule ^ /about-us/? [R=301,L]
RewriteRule ^about-us/$ /about.php [L]

#Contact Us
RewriteCond %{THE_REQUEST} \s/contact\.php\s [NC]
RewriteRule ^ /contact-us/? [R=301,L]
RewriteRule ^contact-us/$ /contact.php [L]

#Traning service
RewriteCond %{THE_REQUEST} \s/traning_service\.php\s [NC]
RewriteRule ^ /traning-service/? [R=301,L]
RewriteRule ^traning-service/$ /traning_service.php [L]

ErrorDocument 404 /404/