
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Write your Own Css Here*/
* {
    font-family: "Kanit", sans-serif ;
}

.service-subtitle-2{
    margin: 0;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 400;
}
.grid-3{
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
}

.service-up-center {
    justify-content: center !important;
}

.service-img-2{
    display: flex;
    justify-content: center;
    min-height: 140px;
}

.service-img-2 img{
    max-width: 75%
}

.service-img-3 img{
    max-height: 140px;
}

.contact-wpr{
margin-bottom: 40px;
}

.contact-content{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.service-single-wpr{
    display: flex;
    flex-direction: column;
}

.addr-box-single-link {
    display: block;
    text-decoration: none;
    color: inherit;
    margin: 16px 0 ;
}


.about-opt-list-2 li span {
    display: inline-block;
    width: -webkit-fill-available;
}

.addr-box-single-link:hover {
    text-decoration: none;
}

.addr-box-single-link:hover .addr-box-single {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
}

/* เพิ่มเอฟเฟกต์เล็กน้อยสำหรับหัวข้อเมื่อ hover */
.addr-box-single-link:hover .addr-desc h5 {
    text-decoration: underline;
}

.addr-box-single-link:hover .addr-icon {
    transform: scale(1.1); /* ขยายไอคอนเล็กน้อยเมื่อ hover */
    transition: transform 0.2s ease;
}



.addr-box-single-link:hover .addr-box-single {
    background-color: #f5f5f5;
    transform: scale(1.07);
    transition: all 0.3s ease;
}

.addr-icon {
    /* font-size: 24px;
    color: #007bff;
    margin-bottom: 10px; */
    flex-shrink: 0;
  width: 60px; /* กำหนดขนาดความกว้างให้ใกล้เคียงกับไอคอนเดิม */
  height: 60px; /* กำหนดขนาดความสูงให้ใกล้เคียงกับไอคอนเดิม */
  display: flex;
  justify-content: center;
  align-items: center;
}

.addr-icon img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    object-fit: contain; /* ทำให้รูปภาพคงอัตราส่วนและพอดีกับพื้นที่ */
  }

.addr-desc h5 {
    font-weight: 600;
    margin-bottom: 5px;
}

.addr-desc p {
    color: #6c757d;
}

.z-index-1{
    z-index: 1;
}


.contact-tech-single-page {
    position: absolute;
    right: 27px;
    z-index: -1;
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
 .contact-tech-single-page {
    display: none;
 }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
.contact-tech-single-page {
        display: none;
}

}

.about-list i{
    color: rgb(255, 192, 0);
    margin-right: 1.5rem;
}